<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="contiainer-fluid">
        <a class="navbar-brand" href="/">YelpCamp</a>
      </div>
    
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign up</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="#">Signed In As <%= currentUser.username %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% } %>
      <% if(success && success.length > 0) { %>
        <div class="alert alert-success" id="success-alert" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>